<section class="about-me-section">

    <img src="https://s3-alpha-sig.figma.com/img/1881/f905/c4e7816fd299b2f81851c63121424d94?Expires=1743984000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=oSsUhMEkvJMvQzUGKvFkoKG-WQjEbZZQVXWe9i6nJ3PAgQuMs37omF6UFZ1--d8dysp5iEFGoIeSNGCsAvMAGFy-wyUWFW9S74tZFi5Fmr5JrTTo2azCVbEE4RJE0cShe15u2e5Wb9fmTPYSz67w~vzAvhMu4ubtjO7H9~EIj-JdZriAfgzNG1FIH6wisENGldx7K5EoBaEijV-~wJrwPHG2VnQGprBHPsNgZSsN5rO2nX~K5oMqCbFUA1qxnnHCjeezkxu1q6AhpZF6IBXQhnZjI0Oan5OJ0n1z5U9dAVZyye0dggcnKApxFPOVGSuAD~DA7Vvl09cr-WzuEx6kbA__" alt="Fond de grille" class="grid-background-image">
    


    <div class="content-wrapper">

        <div class="column1">
            <h1 class="main-title">Qui suis-je ?</h1>
            <h2 class="subtitle">mon histoire en tant que designer</h2>
            <blockquote class="quote">
                "Je transforme les idées en expériences visuelles engageantes"
            </blockquote>
        </div>
      <!-- Contenu principal -->
        <div class="content-container">

            <div class="text-content">

                    <div class="bio">
                      <p>
                        Je suis <strong>Yassine Ben Salem</strong>, designer UI/UX, graphiste et créateur vidéo basé en Tunisie.
                      </p>
                      <p>
                        Avec plus de <strong>4 ans d'expérience</strong>, j'ai eu l'opportunité de collaborer avec des marques internationales, 
                        notamment au Saudi Arabie, en France, en Portugal et en Tunisie.
                      </p>
            
                      <p>Passionné par l'esthétique minimaliste et les expériences immersives, je conçois des interfaces modernes et des identités visuelles percutantes.</p>
            
                      <p class="objective">
                        <strong>Mon objectif ?</strong> Créer des designs qui marquent et des expériences qui convertissent.
                      </p>
                    </div>
            </div>

            <div class="visual-content">
                    <img src="/images/lamp.png" alt="Ampoule créative" class="lightbulb-image"   loading="lazy">
                    
                    <img src="/images/infol3.png" alt="Flèche décorative" class="decorative-arrow arrow1"  loading="lazy">
                    <img src="/images/infol2.png" alt="Flèche décorative" class="decorative-arrow arrow2"  loading="lazy">
                    <img src="/images/infol1.png" alt="Flèche décorative" class="decorative-arrow arrow3"  loading="lazy">
                    <img src="/images/infol4.png" alt="Flèche décorative" class="decorative-arrow arrow4"  loading="lazy">
            </div>

        </div>
      
      <!-- Boutons d'action -->
        <div class="action-buttons">
            <button class="btn btn-primary">Travaillons ensemble</button>
            <button class="btn btn-secondary">En savoir plus <i class="arrow-icon">→</i></button>
        </div>


    </div>
  </section>
  
  