<section class="about-me-section">
    <img src="/images/pub1p.png" alt="Fond de grille" class="grid-background-image">

    <div class="content-wrapper">

        <div class="column1">
            <h1 class="main-title">Pourquoi c’est <br> un atout ?</h1>
            <p>Pas besoin de plusieurs prestataires : je gère tout, de la conception au rendu final. <br>
                Approche cohérente pour une identité visuelle forte et mémorable.</p>
            <button class="cta-button">Travaillons ensemble</button>
        </div>

        <img src="/images/qrcod1.png" alt="QR Code" class="qr-image">

    </div>
</section>
